<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Receitas</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lista de Receitas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="areaadmin">Area Administrativa <span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="areaadmin">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/TiposRefeicoes/Index">Tipos de Refeições</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="~/NiveisDificuldades/Index">Niveis de Dificuldade</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-secondary my-2 my-sm-0" href="~/Perfis/Login" type="submit">Login</button>
            </form>
        </div>
    </nav>

    <div id="conteudo" class="container body-content" style="margin-top:30px;margin-bottom:30px">
        @RenderBody()
    </div>

    <footer>
        <hr />
        <p style="text-align:center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>
</html>